<div class="section-slider full-screen-size" data-sub-height="63">
   <div class="flexslider advanced-slider slider white" data-options="animation:fade">
      <ul class="slides">
         {% if header %}
         	{{ header }}
         {% endif %}
         {% if rows %}
         	{{ rows }}
         {% endif %}
      </ul>
   </div>
</div>