{{footer }}
<div class="section-empty my-class-home">
    <div id="fullpage-main" class="home-y" data-options="verticalCentered:false">
    	{% if header %}        
	        {{ header }}
	    {% endif %}
	    {% if rows %}
	    	{{ rows }}	
	    	
	    {% endif %}
    </div>
</div>