<div class="container content">
   <div class="row" data-anima="fade-bottom" data-timeline="asc">
      {% if header %}
      {{ header }}
      {% endif %}
      {% if rows %}
      {{ rows }}
      {% endif %}
   </div>
</div>