<div class="navbar navbar-inner">
	{{footer}}
	<div class="collapse navbar-collapse">
        <ul class="nav navbar-nav over ms-rounded inner maso-filters nav-center">
            {{header}}
			{{rows}}
			<li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
		</ul>
	</div>
			
</div>
